


<h1>Exception Handling Global </h1>
<h5> Please Contact to Us "www.usmanusman.2996@gmail.com" </h5>
<hr />

<div class="container">
    <div class="alert alert-danger">
        <h1>Exception Path</h1>
        <h1>@ViewBag.exceptionPath</h1>
    </div>
    <div class="alert alert-danger">
        <h1>Exception Message</h1>
        <h1>@ViewBag.ExceptionMessage</h1>
    </div>
    <div class="alert alert-danger">
        <h1>Exception StackTrace</h1>
        <h1>@ViewBag.StackTrace</h1>
    </div>
</div>