
@model IEnumerable<EmployeeManage.ViewModels.Responses.BarcodeResponse>

<html xmlns="http://www.w3.org/1999/xhtml">

<head>
    <title></title>
</head>
<body>
    <section class="content">
        
          
        <div class="card">
            <h3 class="card-header">All Barcodes</h3>
        </div>
                <!-- /.box -->
                    <!-- /.box-header -->
        <div class="card-body">
            <div class="card-tools">
                <div class="input-group input-group-sm" style="width: 150px;">
                    <input name="ctl00$mainPanel$txt_search_doc_exp" type="text" id="ctl00_mainPanel_txt_search_doc_exp" class="form-control float-right" placeholder="Search.." onkeyup="Search_table(this)">
                    <div class="input-group-append">
                        <button type="button" class="btn btn-default">
                            <i class="fas fa-search"></i>
                        </button>
                    </div>
                </div>
            </div>
            <table id="example2" class="table table-hover text-nowrap">
                <thead>
                    <tr>
                        <th>ItemId</th>
                        <th>Name</th>
                        <th>GeneratedBarcode</th>
                    </tr>
                </thead>
                <tbody style="width:auto">
                    @foreach (var emp in Model)
                    {
                        <tr>
                            <td>
                                @Html.DisplayFor(model => emp.ItemId)
                            </td>
                            <td>
                                @Html.DisplayFor(model => emp.ItemName)
                            </td>
                            <td>
                                @Html.DisplayFor(model => emp.ItemBarcode)
                            </td>
                            @*<td>

                            <a asp-controller="Barcode" asp-action="EditBarcode" asp-route-id="@emp.ItemId" class="fa fa-edit"></a>

                        </td>*@
                        </tr>
                    }
                </tbody>
            </table>

            <!-- /.box-body -->
        </div>
                <!-- /.box -->
        
    </section>



</body>
</html>
