@model int
@{ 
    ViewBag.Title = "Employee Not Found";
}
<div class="alert alert-danger mt-1 mb-1">

    <h4> Record....Not Found Error : </h4>
    <hr />
    <h5>
        Employee with Id = @Model Not Found
    </h5>
</div>